$primary-color:#F1F5F9;
$secondary-color:#ffbd39;
$informative-text:rgb(158 158 158);
.navbar{
    background: #0F172A;
    z-index: 2000;
    .navbar-brand{
        font-family:  Arial;
        color: $primary-color;
        :hover{
            color:$secondary-color
        }
    }
    .nav-item {
    .nav-link {
        color: $primary-color !important;
    }

    .nav-link.active {
        color: $secondary-color !important;
        text-decoration: underline;
    }
    }
}
#Home{
    margin-top: 200px ;
}
#skills,#about,#projects{
    margin-top: 150px;
    margin-bottom: 150px;
}

.primary-text{
    color: $primary-color;
}
.secondary-text{
    color:$secondary-color;
}
.info-text{
    color: $informative-text;
}
.resume,.dd-info{
    border: 2px solid $secondary-color;
    border-radius: 10px;
    color: $primary-color;
    background-color: transparent;
    &:hover{
        border: 2px solid $primary-color;
        color: $secondary-color;
        background-color: $primary-color;
    }
}
.dd-strong{
    color: #0F172A;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    font-weight: bold;
    &:hover{
        color: $primary-color;
        background-color: darken($secondary-color, 2%);
    }
}
.dd-strong-text{
    color: #0F172A;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    font-weight: bold;
    padding: 0px 10px;
}
.skills-toggle {
    background: #303030;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 10px 10px 40px rgba(0,0,0,.4);
    z-index: 1;
    .nav-link{
        border-radius: inherit;
        padding: 3px 20px;
        background-color: transparent;
        border: 0px;
        color: $primary-color;
        font-weight: bold;
        text-align: center;
        transition: 
        background-color 0.35s ease,
        color 0.35s ease,
        transform 0.2s ease;
    }
    .nav-link.active{
        background-color: $secondary-color;
        transform: scale(1.05);
    }
}

.tooltip-inner {
  color:$primary-color;
  background-color: $secondary-color;
  font-weight: bold;
}

.subtitle {
    position: absolute;
    top: 0;
    left: -30px;
    transform: rotate(270deg) translateX(-100%);
    font-weight: bold;
    transform-origin: left top;
    letter-spacing: 2px;
    color: $secondary-color;
}
.profile-img-wrapper {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}


.profile-img-wrapper {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    animation: softGlow 3s ease-in-out infinite;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.img-wrapper {
    width: 100%;
    background-color: transparent;
}

.project-img {
    max-width: 70%;   /* makes image smaller */
    height: auto;
    object-fit: contain;
    animation: softGlow 3s ease-in-out infinite;
}
.check{
    width: 30px;
    height: 30px;
}
.project{
    margin:150px 0px
}

@keyframes softGlow {
  0% {
    box-shadow:
      0 0 25px rgba(lighten($secondary-color, 5%), 0.35),
      0 0 50px rgba(lighten($secondary-color, 10%), 0.20);
  }

  50% {
    box-shadow:
      0 0 45px rgba(lighten($secondary-color, 8%), 0.55),
      0 0 90px rgba(lighten($secondary-color, 15%), 0.30);
  }

  100% {
    box-shadow:
      0 0 25px rgba(lighten($secondary-color, 5%), 0.35),
      0 0 50px rgba(lighten($secondary-color, 10%), 0.20);
  }
}
.skill-box{    
    justify-content: center;
    align-items: center;
}
.skill-card{
    width: 100px;
    height: 100px;
    background-color: #303030;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#resume-section{
    margin-top: 150px;
    margin-bottom: 150px;  
    .card{
        border-color: $secondary-color !important;
    }  
}
.underline{
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, rgb(255, 189, 57) 100%);
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 0.5;
}
.back-heading {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);  
  font-size: 120px;
  font-weight: 800;
  white-space: nowrap;
  z-index: 0;
}
.heading-section h2,.heading-section p{
    position: relative;
    z-index: 1000;
}
