$primary-color:#F1F5F9;
$secondary-color:#ffbd39;
$informative-text:rgb(158 158 158);
.navbar{
    background: #0F172A;
    z-index: 1000;
    .navbar-brand{
        font-family:  Arial;
        color: $primary-color;
        :hover{
            color:$secondary-color
        }
    }
    .nav-item {
    .nav-link {
        color: $primary-color !important;
    }

    .nav-link.active {
        color: $secondary-color !important;
        text-decoration: underline;
    }
    }
}
#Home{
    margin-top: 200px ;
}
#skills{
    margin-top: 150px;
    margin-bottom: 150px;
}

.primary-text{
    color: $primary-color;
}
.secondary-text{
    color:$secondary-color;
}
.info-text{
    color: $informative-text;
}
.resume{
    border: 2px solid $secondary-color;
    border-radius: 10px;
    color: $primary-color;
    background-color: transparent;
    &:hover{
        border: 2px solid $primary-color;
        color: $secondary-color;
        background-color: $primary-color;
    }
}
.skills-toggle {
    background: #303030;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 10px 10px 40px rgba(0,0,0,.4);
    z-index: 1;
    .nav-link{
        border-radius: inherit;
        padding: 3px 20px;
        background-color: transparent;
        border: 0px;
        color: $primary-color;
        font-weight: bold;
        text-align: center;
        transition: 
        background-color 0.35s ease,
        color 0.35s ease,
        transform 0.2s ease;
    }
    .nav-link.active{
        background-color: $secondary-color;
        transform: scale(1.05);
    }
}
.subtitle {
    position: absolute;
    top: 0;
    left: -30px;
    transform: rotate(270deg) translateX(-100%);
    font-weight: bold;
    transform-origin: left top;
    letter-spacing: 2px;
    color: $secondary-color;
}
.skill-box{    
    justify-content: center;
    align-items: center;
}
.skill-card{
    width: 100px;
    height: 100px;
    background-color: #303030;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#resume-section{
    margin-top: 150px;
    margin-bottom: 150px;  
    .card{
        border-color: $secondary-color !important;
    }  
}
.underline{
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, rgb(255, 189, 57) 100%);
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 0.5;
}
.back-heading {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -50%);  
  font-size: 120px;
  font-weight: 800;
  white-space: nowrap;
  z-index: 0;
}
.heading-section h2,.heading-section p{
    position: relative;
    z-index: 1000;
}
